site_name: Jam
site_url: https://jam.makridenko.ru
site_description: Simple and universal library for authorization.
copyright: Adrian Makridenko | <a href="https://github.com/lyaguxafrog/">@lyaguxafrog</a>

repo_name: lyaguxafrog/jam
repo_url: https://github.com/lyaguxafrog/jam
edit_uri: blob/release/docs/

nav:
  - Home: index.md
  - Usage:
      - Configuration: config.md
      - JWT:
          - Config: jwt/config.md
          - Instance: jwt/instance.md
          - Lists:
              - What is?: jwt/lists/what.md
              - How to use?: jwt/lists/how.md
              - JSONList: jwt/lists/json.md
              - RedisList: jwt/lists/redis.md
              - CustomList: jwt/lists/own_module.md
      - PASETO:
          - Config: paseto/config.md
          - Instance: paseto/instance.md
      - Sessions:
          - Config: sessions/config.md
          - Instance: sessions/instance.md
          - Sessions crypt: sessions/session_crypt.md
          - Own sessions backend: sessions/own_module.md
      - OAuth2:
          - Config: oauth2/config.md
          - Instance: oauth2/instance.md
          - Built-In providers: oauth2/builtins.md
          - Custom Module: oauth2/custom_module.md
      - OTP:
          - Config: otp/config.md
          - HOTP or TOTP: otp/hotp_and_totp.md
          - HOTP: otp/hotp.md
          - TOTP: otp/totp.md
      - Testing: testing.md
      - Utils:
          - Key generators: utils/key_generations.md
          - Passwords utils: utils/password_hashing.md
  - Frameworks integration:
      - Litestar: extensions/litestar.md
      - Starlette: extensions/starlette.md
      - FastAPI: extensions/fastapi.md
      - Flask: extensions/flask.md
  - API Reference: api.md
  - Breaking changes:
#      - Deprecated: breaking_changes/deprecated
      - 2.5.5 -> 3.0.0: breaking_changes/jam255_to_300
      - 1.1.4 -> 2.0.0: breaking_changes/jam114_to_200
  - Contributing: contributing.md
  - Changelog: https://github.com/lyaguxafrog/jam/releases
  - Security Policy: https://github.com/lyaguxafrog/jam/blob/master/SECURITY.md
  - Philosophy: philosophy.md
  - License: https://github.com/lyaguxafrog/jam/blob/master/LICENSE.md


theme:
  name: material
  logo: assets/logo.svg
  favicon: assets/logo.svg
  features:
    - navigation.instant
    - navigation.instant.progress
    - header.autohide
    - tabs
    - navigation.footer
  icon:
    repo: fontawesome/brands/github
    previous: fontawesome/solid/angle-left
    next: fontawesome/solid/angle-right
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: pink
      accent: pink
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: pink
      accent: pink
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/lyaguxafrog/jam
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/jamlib/

markdown_extensions:
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - admonition
  - pymdownx.keys
  - pymdownx.magiclink
  - pymdownx.superfences:
      custom_fences:
      - name: mermaid
        class: mermaid
  - pymdownx.tasklist:
      custom_checkbox: true


plugins:
  - search
  - termynal:
      prompt_literal_start:
        - "$"
        - ">"
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: google
            show_doctring_examples: true
            merge_init_into_class: true
            show_source: false
            docstring_options:
              ignore_init_summary: true
            separate_signature: true
            show_root_heading: true
            show_root_full_path: false
            show_signature_annotations: true
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            signature_crossrefs: true
            summary: true
